.profile {
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 6px;
  margin-bottom: 1.6rem;
  text-align: center;
  background-color: #eeeeee;
  box-shadow: rgba(17, 17, 17, 0.2) 0px 8px 24px;
  -webkit-box-shadow: rgba(17, 17, 17, 0.2) 0px 8px 24px;
}
.profile .photo {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
