.profile {
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 6px;
  margin-bottom: 1.6rem;
  text-align: center;
  background-color: #eeeeee;
  box-shadow: rgba(17, 17, 17, 0.2) 0px 8px 24px;
  -webkit-box-shadow: rgba(17, 17, 17, 0.2) 0px 8px 24px;
}
/* Version 1 */
.profile .photo {
  position: relative;
}
.profile .photo img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.profile .photo.new::after {
  content: 'New';
  padding: 4px 6px;
  box-sizing: border-box;
  border-radius: 12px;
  text-align: center;
  position: absolute;
  top: -8px;
  right: -8px;
  color: #ffffff;
  background-color: #289260;
  z-index: 9;
  font-size: 14px;
}
/* Version 2 */
.avatar {
  position: relative;
}
.avatar .imgBox img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.avatar .imgBox .badge {
  padding: 4px 6px;
  box-sizing: border-box;
  border-radius: 12px;
  text-align: center;
  position: absolute;
  top: -8px;
  right: -8px;
  color: #ffffff;
  background-color: #289260;
  z-index: 9;
  font-size: 14px;
}
