.container {
  width: 100vw;
  height: 100vh;
  background-color: beige;
  position: relative;
}
.pointer {
  position: absolute;
  background-color: palevioletred;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  left: -20px;
  top: -20px;
}
